{% extends 'Base.html' %}
{% block title %}웹툰 상세화면{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table" class="table table-condensed">
        <tr scope="col">
            <th>이미지</th>
            <td class="text-center"><img src="{{ object.webtoon.webtoon_img_url }}"></td>
        </tr>
        <tr scope="col">
            <th>제목</th>
            <td class="text-center">{{ object.webtoon.webtoon_name }}</td>
        </tr>
        <tr scope="col">
            <th>작가</th>
            <td class="text-center">{{ object.webtoon.webtoon_author }}</td>
        </tr>
        <tr scope="col">
            <th>조회수</th>
            <td class="text-center">조회수 : {{ object.webtoon.webtoon_views }}</td>
        </tr>
    </table>

    <form class="form-inline" action="/comment/{{ object.webtoon.webtoon_id }}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="comment_text">
        <input class="btn btn-success" type="submit" value="등록">
    </form>

    <table class="table" class="table table-condensed">
        <tbody>
            {% for comment in object.comment %}
            <tr>
                <td>{{ comment.comment_text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}